.letters{
  text-decoration: none;

}

.grid{
  font-size: 50px;
  text-align: center;
}

.display_letters{

}

#words{
  list-style: none;
}



.not, .ton, .out, .nut, .unto{
  border-style: solid;
}

.row.not{

}
